{% extends 'base.html.twig' %}
{% block title %}Nouvelle commande{% endblock %}
{% block body %}
    <h1>Créer une commande</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Valider</button>
    {{ form_end(form) }}
{% endblock %}
